// fw 
$fw0: normal;
$fw1: bold;

// font size 
$fs0: 16px;
$fs1: 34px;
$fs2: 14px;
$fs3: 22px;
$fs4: 8px;


// line height
$lh0: 42.5px;
$lh1: 17.5px;
$lh2: 27.5px;
$lh3: 20px;


// margin
$mg0: 10px;
$mg1: 5px;


// padding 
$pd0: 12px;
$pd1: 20px;
$pd2: 14px;
$pd3: 5px;

// color 
$colorWhite: #fff;
$colorBlue: #0A555C;
$colorYellow: #EBE2B3;
$bgColorGray: #d2e1e5;
$bgColorBlack: #000;
$colorBlack1: #373739;