.headCv{
    .header__avatar{ 
        // background-image: url('../img/IMG_4744.jpeg');
        // width: 20rem;
        // height: 20rem;
        // background-size: cover;
        // background-position: top center;
        // border-radius: 50%;
        img{
            width: 20rem;
            height: 20rem;
            border-radius: 50%;
        }
    }
    .header__content{
        position: relative;
        padding-left: 10rem;
        .userName{
            @include styleTitles($fs1, $fw1, $lh0);
        }
        .userTitle{
            @include styleTitles($fs2, $fw1, $lh1);
            letter-spacing: .3rem;
            margin: $mg0 0;
            padding-bottom: 1.5rem;
        }
        
        p{
            margin-bottom: 1rem;
            i{
                padding-right: 1rem;
            }
            @include styleTitles($fs2, $fw0, $lh1);
            
        }
        &--bg{
            .bg-1{
                position: absolute;
                background-color: #0A555C;
                top: -2rem;
                right: -1rem;
                width: 83.5rem;
                height: 27.5rem;
                clip-path: polygon(2% 0, 100% 0, 100% 91%, 14% 80%);
            }
            .bg-2{
                @extend .bg-1;
                clip-path: polygon(2% 0, 100% 0, 100% 91%, 9% 89%);
                opacity: 0.8;
            }
            .bg-3{
                @extend .bg-1;
                clip-path: polygon(5% 0, 100% 0, 100% 91%, 17% 100%);
                opacity: 0.2;
            }
            & + div{
                z-index: 100;
            }
        }
    }
}